@model WMS_FOR_ADIB.Models.AssetDisposal

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-yellow bg-main py-2">Asset Disposal Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-4">Quantity</dt>
            <dd class="col-sm-8">@Model.Quantity</dd>

            <dt class="col-sm-4">Disposed Date</dt>
            <dd class="col-sm-8">@Model.DateDisposed</dd>

            <dt class="col-sm-4">Reason</dt>
            <dd class="col-sm-8">@Model.Reason</dd>

            <dt class="col-sm-4">Disposed By</dt>
            <dd class="col-sm-8">@Model.DisposedBy</dd>

            <dt class="col-sm-4">Approved By</dt>
            <dd class="col-sm-8">@Model.ApprovedBy</dd>
        </dl>
        <div class="mb-3">
            <a asp-controller="AssetDisposal" asp-action="Edit" asp-route-id="@Model.DisposalID" class="btn your-class btn-primary">Edit</a>
            <a asp-controller="AssetDisposal" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
