@model WMS_FOR_ADIB.Models.AssetTransfer

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-yellow bg-main py-2">Asset Transfer Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-4">From Branch Code</dt>
            <dd class="col-sm-8">@Model.FromBranchCode</dd>

            <dt class="col-sm-4">To Branch Code</dt>
            <dd class="col-sm-8">@Model.ToBranchCode</dd>

            <dt class="col-sm-4">Quantity</dt>
            <dd class="col-sm-8">@Model.Quantity</dd>

            <dt class="col-sm-4">Transfer Date</dt>
            <dd class="col-sm-8">@Model.DateTransferred</dd>

            <dt class="col-sm-4">Requested By</dt>
            <dd class="col-sm-8">@Model.RequestedBy</dd>

            <dt class="col-sm-4">Approved By</dt>
            <dd class="col-sm-8">@Model.ApprovedBy</dd>

            <dt class="col-sm-4">Received By</dt>
            <dd class="col-sm-8">@Model.ReceivedBy</dd>
        </dl>
        <div class="mb-3">
            <a asp-controller="AssetTransfer" asp-action="Edit" asp-route-id="@Model.TransferID" class="btn your-class btn-primary">Edit</a>
            <a asp-controller="AssetTransfer" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
